.mini-player {
  position: fixed;
  cursor: grab;
z-index: 9999;

  width: 300px;

  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 16px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.35s ease;
animation: miniPlayerAppear 0.35s ease;
backdrop-filter: blur(12px);
}

.mini-player .controls {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.mini-player:hover {
  transform: translateY(-4px);
}

.mini-player:active {
  cursor: grabbing;
}

@keyframes miniPlayerAppear {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, #7f5af0, #ff4ecd);
  color: white;

  font-weight: 600;
  cursor: pointer;

  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(127, 90, 240, 0.25);
}

button:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 8px 18px rgba(255, 78, 205, 0.35);
  filter: brightness(1.05);
}

button:active {
  transform: translateY(0px) scale(0.98);
  box-shadow: 0 3px 8px rgba(127, 90, 240, 0.2);
}

button {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.play-btn {
  animation: pulse 1.6s infinite;
  background: linear-gradient(135deg, #7f5af0, #ff4ecd);
  box-shadow: 0 0 0 rgba(255, 78, 205, 0.4);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 78, 205, 0.5);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 78, 205, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 78, 205, 0);
  }
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.controls button {
  min-width: 90px;
}

.custom-modal .ant-modal-container {
  background: #ffffff;

  border:5px solid transparent;
  border-radius: 18px;

  background-image:
    linear-gradient(white, black),
    linear-gradient(135deg, #7f5af0, #ff4ecd);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  box-shadow:
    0 10px 30px rgba(127, 90, 240, 0.25),
    0 0 20px rgba(255, 78, 205, 0.15);

  overflow: hidden;
}